html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  box-shadow: 0 0 5px #000;
}

.header {
  width: 100%;
  padding-bottom: 1px;
  background-color: #7c604f;
  background: url(../images/design/bg_header.jpg) no-repeat top center;
  background-size: 100%;
}

.top-header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1500px) {
  .top-header-wrapper {
    margin-bottom: 125px;
  }
}
@media screen and (max-width: 1250px) {
  .top-header-wrapper {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 800px) {
  .top-header-wrapper {
    margin-bottom: 75px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 600px) {
  .top-header-wrapper {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 600px) {
  .top-header-wrapper {
    margin-bottom: 30px;
  }
}

.logo {
  max-width: 40%;
  min-height: 1px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 700px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
}

.main-nav__toggle:checked ~ .menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 55px;
  display: block;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.menu__item {
  display: inline-block;
  margin-right: 25px;
}
@media screen and (max-width: 700px) {
  .menu__item {
    display: block;
    width: 255px;
    padding: 20px 85px 20px 20px;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    box-sizing: border-box;
  }
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.menu__link:hover, .menu__link:focus {
  color: #b7cd7f;
  border-bottom-color: #b7cd7f;
}
@media screen and (max-width: 700px) {
  .menu__link:hover, .menu__link:focus {
    border-bottom-color: transparent;
  }
}
.menu__link:focus {
  outline: none;
}
.menu__link:active {
  color: #e8f5c6;
  border-bottom-color: #e8f5c6;
}
@media screen and (max-width: 700px) {
  .menu__link:active {
    border-bottom-color: transparent;
  }
}

.header__title {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 750px;
  text-align: center;
  font-size: 56px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 1700px) {
  .header__title {
    font-size: 48px;
    margin-bottom: 600px;
  }
}
@media screen and (max-width: 1500px) {
  .header__title {
    font-size: 40px;
    margin-bottom: 550px;
  }
}
@media screen and (max-width: 1250px) {
  .header__title {
    font-size: 36px;
    margin-bottom: 450px;
  }
}
@media screen and (max-width: 1250px) {
  .header__title {
    width: 100%;
    margin-left: auto;
    font-size: 56px;
    margin-bottom: 450px;
  }
}
@media screen and (max-width: 1100px) {
  .header__title {
    margin-bottom: 250px;
  }
}
@media screen and (max-width: 900px) {
  .header__title {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 800px) {
  .header__title {
    font-size: 40px;
    margin-bottom: 125px;
  }
}
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 32px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 24px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 400px) {
  .header__title {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

.main-nav__toggle {
  display: none;
}

.main-nav__label {
  position: fixed;
  top: 25px;
  right: 40px;
  display: none;
  width: 45px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #f1f1f1;
  -webkit-transition: border-top 0.4s;
  -o-transition: border-top 0.4s;
  transition: border-top 0.4s;
  z-index: 10;
}
@media screen and (max-width: 700px) {
  .main-nav__label {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .main-nav__label {
    top: 15px;
    width: 35px;
  }
}

.main-nav__label:hover {
  cursor: pointer;
}

.main-nav__label::before,
.main-nav__label::after {
  content: '';
  display: block;
  margin-top: 10px;
  border-top: 2px solid #f1f1f1;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media screen and (max-width: 600px) {
  .main-nav__label::before,
  .main-nav__label::after {
    margin-top: 7px;
  }
}

.main-nav__toggle:checked ~ .main-nav__label {
  border-top: 0;
}

.main-nav__toggle:checked ~ .main-nav__label::before {
  -webkit-transform: scale(0.8) rotate(45deg) translateY(5px);
  -ms-transform: scale(0.8) rotate(45deg) translateY(5px);
  transform: scale(0.8) rotate(45deg) translateY(5px);
}

.main-nav__toggle:checked ~ .main-nav__label::after {
  -webkit-transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
  -ms-transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
  transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
}

.main-nav__toggle-button::before {
  top: -12px;
}

.main-nav__toggle-button::after {
  top: 12px;
}

/*# sourceMappingURL=styles.css.map */
