.features {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: $greenBgColor;
}

.features__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  margin-left: -25px;
  margin-right: -25px;
  padding: 0;
  box-sizing: border-box;
  
  list-style-type: none;
  
  @media screen and (max-width: 400px) {
  margin-left: -10px;
  margin-right: -10px;
  }
}

.features__item {
  width: calc(100% / 3 - 50px);
//  min-width: 230px;
  padding: 15px;
  margin: 25px;
  box-sizing: border-box;
  
  border: 2px solid $greenElementColor;
  
  @media screen and (max-width: 1000px) {
    width: calc(100% / 2 - 50px);
  }
  
  @media screen and (max-width: 700px) {
    width: calc(100% - 50px);
  }
  
  @media screen and (max-width: 400px) {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

.features__item:last-child {
  @media screen and (max-width: 1000px) {
    margin: 25px auto;
  }
}

.features__item::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: $greenElementColor;
  transform: rotate(45deg);
}

.features__title {
  text-align: center;
  color: $greenElementColor;
  text-transform: uppercase;
  font-size: $main-font-size * 1.2;
  
  @media screen and (max-width: 400px) {
    font-size: $main-font-size;
  }
}