.header {
  width: 100%;
  padding-bottom: 1px;
  background-color: #7c604f;
  background: url(../images/design/bg_header.jpg) no-repeat top center;
  background-size: 100%;
}

.top-header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);
  
  @media screen and (max-width: 1500px) {
    margin-bottom: 125px;
  }
  
    @media screen and (max-width: 1250px) {
    margin-bottom: 100px;
  }
  
  @media screen and (max-width: 800px) {
    margin-bottom: 75px;
    padding: 10px 20px;
  }
  
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 600px) {
    margin-bottom: 30px;
  }
}

.logo {
  max-width: 40%;
  min-height: 1px;
  
  &__img {
    vertical-align: bottom;
  }
}

.menu {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  @media screen and (max-width: 700px) {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 55px;
   
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.8);
    
     -webkit-transform: translateX(1000px);
        -ms-transform: translateX(1000px);
            transform: translateX(1000px);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
  }
}

.main-nav {
  min-height: 25px;
}

.main-nav__toggle:checked ~ .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    padding-top: 55px;
    display: block;
    

    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

.menu__item {
  display: inline-block;
  margin-right: 25px;
  
  @media screen and (max-width: 700px) {
    display: block;
    width: 255px;
    padding: 20px 85px 20px 20px;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    box-sizing: border-box;
  }
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  display: block;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  
  &:hover {
    color: #b7cd7f;
    border-bottom-color: #b7cd7f;
    
    @media screen and (max-width: 700px) {
      border-bottom-color: transparent;
    }
  }
  
  &:focus {
    @extend .menu__link:hover;
    outline: none;
  }
  
  &:active {
    color: #e8f5c6;
    border-bottom-color: #e8f5c6;
     
    @media screen and (max-width: 700px) {
      border-bottom-color: transparent;
    }
  }
}

.header__title {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 700px;
  text-align: center;
  font-size: $main-font-size * 3.5;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  line-height: 1.4;
  
  @media screen and (max-width: 1700px) {
    font-size: $main-font-size * 3;
    margin-bottom: 600px;
  }
  
  @media screen and (max-width: 1500px) {
    font-size: $main-font-size * 2.5;
    margin-bottom: 550px;
  }
  
  @media screen and (max-width: 1400px) {
    font-size: $main-font-size * 2.5;
    margin-bottom: 500px;
  }
  
  
  @media screen and (max-width: 1250px) {
    width: 100%;
    margin-left: auto;
    font-size: $main-font-size * 3.5;
    margin-bottom: 450px;
  }
  
    @media screen and (max-width: 1200px) {
    font-size: $main-font-size * 2.25;
    margin-bottom: 450px;
  }
  
  @media screen and (max-width: 1100px) {
    margin-bottom: 350px;
  }
  
   @media screen and (max-width: 1000px) {
    margin-bottom: 250px;
  }
  
  @media screen and (max-width: 900px) {
    margin-bottom: 220px;
  }
  
   @media screen and (max-width: 800px) {
   font-size: $main-font-size * 2.5;
    margin-bottom: 200px;
  }
  
    @media screen and (max-width: 700px) {
   font-size: $main-font-size * 2.5;
    margin-bottom: 150px;
  }
  
   @media screen and (max-width: 600px) {
   font-size: $main-font-size * 2;
    margin-bottom: 150px;
  }
  
   @media screen and (max-width: 500px) {
   font-size: $main-font-size * 1.5;
    margin-bottom: 110px;
  }
  
  @media screen and (max-width: 400px) {
   font-size: $main-font-size * 1.25;
    margin-bottom: 70px;
  }
}

.main-nav__toggle {
  display: none;
}

.main-nav__label {
  position: absolute;
  top: 15px;
  right: 40px;
  display: none;
  width: 45px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  border-top: 2px solid #fff;
  -webkit-transition: border-top 0.4s;
  -o-transition: border-top 0.4s;
  transition: border-top 0.4s;
  z-index: 10;
  
  @media screen and (max-width: 700px) {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    top: 15px;
    width: 35px;
  }
  
}

.main-nav__label:hover {
  cursor: pointer;
}

.main-nav__label::before,
.main-nav__label::after {
  content: '';
  display: block;
  margin-top: 10px;
  border-top: 2px solid #fff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  
  @media screen and (max-width: 600px) {
    margin-top: 7px;
  }
}


.main-nav__toggle:checked ~ .main-nav__label {
  border-top: 0;
}

.main-nav__toggle:checked ~ .main-nav__label::before {
  -webkit-transform: scale(0.8) rotate(45deg) translateY(5px);
      -ms-transform: scale(0.8) rotate(45deg) translateY(5px);
          transform: scale(0.8) rotate(45deg) translateY(5px);
  
    @media screen and (max-width: 600px) {
    transform: scale(0.8) rotate(45deg) translateY(7px);
  }
}

.main-nav__toggle:checked ~ .main-nav__label::after {
  -webkit-transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
      -ms-transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
          transform: scale(0.8) rotate(-45deg) translateY(-12px) translateX(4px);
  
  @media screen and (max-width: 600px) {
    transform: scale(0.8) rotate(-45deg) translateY(-10px);
  }
  
}

.main-nav__toggle-button::after {
  top: 12px;
}
