.portfolio {
  padding-top: 1px;
  padding-bottom: 30px;
  background-color: $greenBgColor;
}

.portfolio__title {
  @extend .skills__title;
}

.portfolio__list {
  @extend .features__list;
}

.portfolio__item {
  position: relative;
  width: calc(100% / 5 - 50px);
  padding: 0;
  padding-bottom: 75px;
  margin: 25px;
  box-sizing: border-box;
  border: 1px solid $greenElementColor;
  
  @media screen and (max-width: 1800px) {
    width: calc(100% / 4 - 50px);
  }
  
  @media screen and (max-width: 1400px) {
    width: calc(100% / 3 - 50px);
  }
  
  @media screen and (max-width: 1000px) {
    width: calc(100% / 2 - 50px);
  }
  
  @media screen and (max-width: 600px) {
    width: calc(100% - 50px);
  }
  
  @media screen and (max-width: 400px) {
    width: calc(100% - 20px);
    margin: 10px;
  }
}

.portfolio__site {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 80%;
  overflow: hidden;
}

.portfolio__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgba(74, 181, 94, 0.8);
  text-decoration: underline;
  

  transform: translateY(320px);
  transition: transform 0.6s linear;
  
  @media screen and (max-width: 600px) {
    transform: translateY(500px);
  }
}

.portfolio__site:hover > .portfolio__link {
  transform: translateY(0);
  transition: transform 0.6s linear;

}

.portfolio__preview {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio__description {
  padding: 15px;
  padding-bottom: 0;
  font-size: $main-font-size * 0.875;
  line-height: 2;
}

.portfolio__techs {
  @extend .portfolio__description;
  padding-top: 0;
  padding-bottom: 15px;
}

.portfolio__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  
  background-color: $greenElementColor;
  border-radius: 20px;
}
/* кнопка прибита к нижнему краю с помощью абсолютного позиционирования, т.к. из-за нулевой высоты portfolio-site display: flex некорректно отображает блоки в Firefox*/

.portfolio__btn:hover {
  background-color: #80cb8e;
}

.portfolio__btn:focus {
  @extend .portfolio__btn:hover;
  outline: none;
}

.portfolio__btn:active {
  background-color: #a4daae;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6);
}
