$main-font: "Open Sans", Helvetica, Arial, sans-serif;
$main-font-size: 16px;
$greenBgColor: #E8F5C6;
$greenElementColor: #4ab55e;

html {
  margin: 0;
  padding: 0;
  height: 100%;

}

body {
  @extend html;
  font: {
    family: $main-font;
    size: $main-font-size;
    weight: 400;
  }
  line-height: 2;
  color: #000;
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.main-wrapper {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.inner-wrapper {
  width: 85%;
  max-width: 1630px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: $main-font-size * 2;
  text-transform: uppercase;
  
  @media screen and (max-width: 600px) {
    font-size: $main-font-size * 1.5;
  }
  
  @media screen and (max-width: 400px) {
    font-size: $main-font-size * 1.25;
  }
}

.btn {
  font-size: $main-font-size;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  
  @media screen and (max-width: 700px) {
    font-size: $main-font-size * 0.875;
  }
}

.error {
  background-color: #ff1a1a;
}

@import "header";
@import "features";
@import "skills";
@import "portfolio";
@import "feedback";
@import "footer";
@import "thanks";